* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

:root {
    --main-color:rgba(128, 128, 128, 0.711);
    --main-background-color:rgba(0, 0, 0, 0.847);
    --main-font:'Roboto', sans-serif;
}

.grid-container {
    width: 100%;
    height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:"d1 d1 d2 d3"
                        "d1 d1 d4 d5"
                        "d6 d7 d8 d8";

}

.grid-container > .image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-container > .info {
    padding: 20px;
}

.info > h2 {
    text-transform: uppercase;
    color: var(--main-background-color);
    margin-bottom: 20px;
}

.info > p {
    color: var(--main-color);
    margin-bottom: 20px;
    font-family: var(--main-font);
}

.info > button {
    text-transform: uppercase;
    padding: 10px;
    color: var(--main-color);
    background-color: var(--main-background-color);
    font-family: var(--main-font);
    cursor: pointer;
}

.info > button:hover {
    background-color: var(--main-color);
    color: var(--main-background-color);
}

.grid-container > .info_1 {
    grid-area: d2;
}

.grid-container > .info_2 {
    grid-area: d5;
}

.grid-container > .info_3 {
    grid-area: d7;
}

.grid-container > .image_1 {
    background-image: url("https://images.unsplash.com/photo-1588854337236-6889d631faa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    grid-area: d1;
}

.grid-container > .image_2 {
    background-image: url("https://images.unsplash.com/photo-1550223026-0d6fd780c560?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    grid-area: d3;
}

.grid-container > .image_3 {
    background-image: url("https://images.unsplash.com/photo-1556909172-54557c7e4fb7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    grid-area: d4;
}

.grid-container > .image_4 {
    background-image: url("https://images.unsplash.com/photo-1571843439991-dd2b8e051966?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    grid-area: d6;
}

.grid-container > .image_5 {
    background-image: url("https://images.unsplash.com/photo-1601760561441-16420502c7e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    grid-area: d8;
}

@media (max-width:992px) {
    .grid-container {
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:"d1 d2 d3"
                            "d4 d5 d6"
                            "d7 d8 d8";
    }
}

@media (max-width:768px) {
    .grid-container {
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:"d1 d2 "
                            "d3 d4"
                            "d5 d6"
                            "d7 d8";

    }

    .grid-container > .image {
        height: 340px;
    }
}



@media (max-width:320px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows:repeat(8, 1fr);
        grid-template-areas: "d1"
                             "d2"
                             "d3"
                             "d4"
                             "d5"
                             "d6"
                             "d7"
                             "d8";
        text-align: center;                     
    }

    .grid-container > .image {
        height: 200px;
    }
}